.main_text {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.5px;
  width: 573px;
  padding-top: 258px;
}

.main_box {
  padding-bottom: 166px;
}

.main_img {
  background-repeat: no-repeat;
  background-image: url(/16-dars/img/PromoImage.png);
  background-size: cover;
}
